Repository eclipsesource/jsonforms, pull requests merged in 2019-06, with the labels that each got.

#1393 #1254 - Add support for JSONSchema constants
  packages/core/src/testers/index.ts
  packages/core/src/util/renderer.ts
  packages/core/test/testers.test.ts
  packages/examples/src/1254.ts
  packages/examples/src/index.ts
Labels: core

#1360 Add handling of default values
  packages/core/src/reducers/core.ts
  packages/examples/src/default.ts
  packages/examples/src/index.ts
  packages/material/src/mui-controls/MuiInputText.tsx
Labels: core, material

#1369 [Angular] Initial Table
  packages/angular-material/src/index.ts
  packages/angular-material/src/module.ts
  packages/angular-material/src/other/index.ts
  packages/angular-material/src/other/table.renderer.ts
  packages/angular-material/test/table-control.spec.ts
Labels: angular

#1363 Increase findUiSchema use
  packages/core/src/generators/index.ts
  packages/core/src/reducers/index.ts
  packages/core/src/util/combinators.ts
  packages/core/src/util/renderer.ts
  packages/material/src/complex/MaterialAllOfRenderer.tsx
  packages/material/src/complex/MaterialAnyOfRenderer.tsx
  packages/material/src/complex/MaterialObjectRenderer.tsx
  packages/material/src/complex/MaterialOneOfRenderer.tsx
  packages/material/src/layouts/MaterialArrayLayout.tsx
Labels: core, material
