Repository eclipsesource/jsonforms, pull requests merged in 2019-01, with the labels that each got.

#1222 Pass ownProps.path to rule evaluation in mapStateToLayoutProps
  packages/core/src/util/renderer.ts
  packages/core/test/util/renderer.test.ts
  packages/example/src/util.tsx
  packages/examples/src/1220.ts
  packages/examples/src/index.ts
Labels: core

#1234 Add 'scrollable' variant to Categorization renderer
  packages/material/src/layouts/MaterialCategorizationLayout.tsx
Labels: material, react

#1238 [material] Fix path of data change within confirm of one-of renderer
  packages/material/src/complex/MaterialOneOfRenderer.tsx
Labels: material, react

#1224 Preselect with default schema values #1193
  packages/core/src/util/validator.ts
  packages/core/test/util/renderer.test.ts
Labels: core

#1233 Fix peerDependencies for angular
  packages/angular-material/package.json
  packages/angular-material/tsconfig.json
  packages/angular/package.json
  packages/angular/tsconfig.json
Labels: angular, material

#1241 Save Ajv in state for reuse
  packages/core/src/reducers/core.ts
  packages/example/src/geographical-location.schema.ts
  packages/example/src/index.tsx
  packages/examples/src/resolve.ts
Labels: core

#1246 [react] Allow renderers ownProp to be passed to JsonForms component
  packages/core/src/util/renderer.ts
  packages/react/src/JsonForms.tsx
  packages/react/test/renderers/JsonForms.test.tsx
Labels: react

#1223 Editable combos don't show value list #1182
  packages/angular-material/src/controls/autocomplete.renderer.ts
Labels: angular, material
