Repository eclipsesource/jsonforms, pull requests merged in 2020-12, with the labels that each got.

#1658 fix: make NumberCell for Vanilla Renderer show 0
  packages/vanilla/src/cells/NumberCell.tsx
  packages/vanilla/test/renderers/NumberCell.test.tsx
Labels: bug, vanilla

#1657 Make Angular component consumable multiple times
  MIGRATION.md
  packages/angular-material/example/app/app.component.ts
  packages/angular-material/example/app/app.module.ts
  packages/angular-material/test/autocomplete-control.spec.ts
  packages/angular-material/test/date-control.spec.ts
  packages/angular-test/src/boolean.ts
  packages/angular-test/src/number.ts
  packages/angular-test/src/range.ts
  packages/angular-test/src/text.ts
  packages/angular-test/src/util.ts
  packages/angular/src/index.ts
  packages/angular/src/jsonforms-root.component.ts
  packages/angular/src/jsonforms.module.ts
  packages/angular/src/jsonforms.service.ts
Labels: angular, enhancement

#1652 Add style context
  packages/vanilla/src/index.ts
  packages/vanilla/src/styleContext.ts
  packages/vanilla/src/util/index.tsx
Labels: hacktoberfest-accepted
